<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Buscar producto</title>


<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
    body    { padding-top:50px; }
</style>
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body class="container">

<header>
    
</header>

<main>
    <div class="jumbotron">
        <h3>COTO</h3>
        <label>Se han encontrado 23 productos para la búsqueda:<%= buscar %></label>
    </div>
</main>

<h4>Productos</h4>

<table style="width:100%">
    <% producList.forEach(function(item) { %>
    <tr>
        <td><input type="radio" name="gender" value=<%=item.id%>></td>
        <td><img src=<%= item.images %> style="width:100px;margin:4px" /></td>
        <td><%= item.name %></td>
        <td><%= item.price %></td>
    </tr>   
    <% }); %> 
</table>

<footer>
    <% include ./footer %>
</footer>

</body>
</html>